<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{{ page.pageTabTitle ?? 'PAGE TITLE REQURIED' }}{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% block stylesheets %}{% endblock %}
        {% block headerJavascript %}{% endblock %}
    </head>
    <body>
        {% block bodyTopJavascript %}{% endblock %}
        {% block body %}{% endblock %}
        {% block bodyBottomJavascript %}{% endblock %}
    </body>
</html>
